USE [LISStaging]
GO
/****** Object:  StoredProcedure [dbo].[usp_SyncTestResult]    Script Date: 12/2/2021 9:44:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [dbo].[usp_SyncTestResult]
as
begin
INSERT INTO [dbo].[ExecutionLog] (ProcudereName,Description,ExecutedOn) VALUES('[dbo].[usp_SyncTestResult]','LIS Test Result sync begins',getdate())

insert into Staging_TestResult (
	ID
	,REQID
	,REQNO
	,IPNO
	,MRNO
	,TESTID
	,TESTNM
	,SPECIMENCODE
	,BARCODE
	,PARAMCODE
	,PARAMNAME
	,PARAMVALUE
	,PARAMUNIT
	,PATIENTNAME
	,REQDT
	,RESULTDT
	,CREATEDON
	,SENTTOHIS
	,HASPARAM)
select x.* from (
	select   
	rd.Id
	,req.HISRequestId as REQID
	,req.HISRequestNo as REQNO
	,req.IPNO
	,req.MRNO
	,req.HISTestCode as TESTID
	,req.HISTestName as TESTNM
	,req.SpecimenCode as SPECIMENCODE
	,req.SampleNo as BARCODE
	,coalesce(hm.HISCODE, rd.LISParamCode,req.HISTestName) as PARAMCODE
	,isnull(hm.HISNAME,hm.NAME) AS PARAMNAME
	,rd.LISParamValue as PARAMVALUE
	,rd.LISParamUnit as PARAMUNIT
	,pt.Name as PATIENTNAME
	,req.SampleCollectionDate as REQDT
	,res.ResultDate AS RESULTDT
	,getdate() AS CREATEDON
	,0 as SENTTOHIS
	, case when hm.HISCODE is null then 0 else 1 end as HASPARAM
	 from BeckmanLIS.dbo.TestRequestDetails req
	 inner join BeckmanLIS.dbo.TestResults res on res.TestRequestId = req.Id and req.SampleNo = res.SampleNo
	 inner join BeckmanLIS.dbo.TestResultDetails rd on res.Id = rd.TestResultId
	 inner join BeckmanLIS.dbo.PatientDetails pt on pt.id = req.PatientId
	 left join HisParamMaster hm on hm.CODE = rd.LISParamCode
	 where req.ReportStatus = 2 -- TODO MAY NEED TO CHANGE
) x 
left join dbo.Staging_TestResult st on st.id = x.Id
where st.id is null

	update st
	set st.PARAMUNIT = pm.Unit
	from Staging_TestResult st 
	inner join [dbo].[Staging_Testparameter] pm 
		on pm.TestId = st.TESTID and pm.ParameterCode = st.PARAMCODE and isnull(pm.Unit,'') <> ''
	where isnull(PARAMUNIT,'') = ''

	update st
	set st.PARAMUNIT = pm.Unit
	from Staging_TestResult st 
	inner join (
		select distinct ParameterCode,Unit from [dbo].[Staging_Testparameter]  
		where isnull(Unit,'') <> ''
	) pm on pm.ParameterCode = st.PARAMCODE
	where isnull(PARAMUNIT,'') = ''

	--update st
	--set st.PARAMUNIT = pm.HISParamUnit
	--from Staging_TestResult st 
	--inner join BeckmanLIS.dbo.HISParameterMaster pm 
	--	on pm.HISTestCode = st.TESTID and pm.HISParamCode = st.PARAMCODE and isnull(pm.HISParamUnit,'') <> ''
	--where isnull(PARAMUNIT,'') = ''


	IF OBJECT_ID(N'tempdb..#RESULT') IS NOT NULL
	BEGIN
		DROP TABLE #RESULT
	END

	CREATE TABLE #RESULT (
		ID bigint
	)

	insert into #RESULT
	select ID from dbo.Staging_TestResult where SENTTOHIS = 0


	insert into [NEOSOFT]..[LIS_ZO].LIS_TESTRESULT(
		   [Id]
		  ,[REQID]
		  ,[REQNO]
		  ,[IPNO]
		  ,[MRNO]
		  ,[TESTID]
		  ,[TESTNM]
		  ,[PATIENTNAME]
		  ,[SPECIMENCODE]
		  ,[BARCODE]
		  ,[PARAMCODE]
		  ,[PARAMNAME]
		  ,[PARAMVALUE]
		  ,[PARAMUNIT]
		  ,[REQDT]
		  ,[RESULTDT]
		  ,[CREATEDON])
	SELECT st.[Id]
		  ,[REQID]
		  ,[REQNO]
		  ,[IPNO]
		  ,[MRNO]
		  ,[TESTID]
		  ,[TESTNM]
		  ,[PATIENTNAME]
		  ,[SPECIMENCODE]
		  ,[BARCODE]
		  ,[PARAMCODE]
		  ,[PARAMNAME]
		  ,[PARAMVALUE]
		  ,[PARAMUNIT]
		  ,[REQDT]
		  ,[RESULTDT]
		  ,[CREATEDON]
	  FROM [dbo].[Staging_TestResult] st
	  inner join #RESULT t on t.ID = st.Id

	  update st
	  set st.SENTTOHIS = 1
	  FROM [dbo].[Staging_TestResult] st
	  inner join #RESULT t on t.ID = st.Id


	INSERT INTO [dbo].[ExecutionLog] (ProcudereName,Description,ExecutedOn) VALUES('[dbo].[usp_SyncTestResult]','LIS Test Result sync ends',getdate())
end