/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 23-05-2021 9.32.10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 23-05-2021 9.32.10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 23-05-2021 9.32.10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 23-05-2021 9.32.10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 23-05-2021 9.32.10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[AlternativeEmail] [nvarchar](256) NULL,
	[DOB] [datetime] NULL,
	[Country] [nvarchar](256) NULL,
	[State] [nvarchar](256) NULL,
	[Address] [nvarchar](256) NULL,
	[Zip] [nvarchar](10) NULL,
	[AreaOfInterest] [nvarchar](256) NULL,
	[Qualification] [nvarchar](256) NULL,
	[IsBlocked] [bit] NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClientApplication]    Script Date: 23-05-2021 9.32.10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClientApplication](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
	[Description] [nvarchar](1024) NOT NULL,
	[AccessKey] [nvarchar](50) NOT NULL,
	[ActivityDate] [datetime2](7) NULL,
	[ActivityMember] [nvarchar](256) NULL,
	[RefreshTokenLifeTime] [int] NOT NULL,
	[AllowedOrigin] [nvarchar](100) NULL,
	[ModulesAPI] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.ClientApplication] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ControlResultDetails]    Script Date: 23-05-2021 9.32.10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ControlResultDetails](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[LISParamCode] [nvarchar](max) NULL,
	[LISParamValue] [nvarchar](max) NULL,
	[LISParamUnit] [nvarchar](max) NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ControlResultId] [bigint] NOT NULL,
 CONSTRAINT [PK_dbo.ControlResultDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ControlResults]    Script Date: 23-05-2021 9.32.10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ControlResults](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[SampleNo] [nvarchar](max) NULL,
	[ResultDate] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[CreatedOn] [datetime] NOT NULL,
	[EquipmentId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ControlResults] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EquipmentHeartBeat]    Script Date: 23-05-2021 9.32.10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EquipmentHeartBeat](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AccessKey] [nvarchar](50) NOT NULL,
	[IsAlive] [bit] NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[CreatedOn] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.EquipmentHeartBeat] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EquipmentMaster]    Script Date: 23-05-2021 9.32.10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EquipmentMaster](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Model] [nvarchar](max) NULL,
	[AccessKey] [nvarchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[CreatedOn] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.EquipmentMaster] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HISParameterMaster]    Script Date: 23-05-2021 9.32.10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HISParameterMaster](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[HISTestCode] [nvarchar](max) NULL,
	[HISParamCode] [nvarchar](max) NULL,
	[HISParamDescription] [nvarchar](max) NULL,
	[LISParamCode] [nvarchar](max) NULL,
	[CreatedOn] [datetime] NOT NULL,
	[HisTestId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.HISParameterMaster] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HISParameterRangMaster]    Script Date: 23-05-2021 9.32.10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HISParameterRangMaster](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[HISRangeCode] [nvarchar](max) NULL,
	[HISRangeValue] [nvarchar](max) NULL,
	[Gender] [nvarchar](max) NULL,
	[AgeFrom] [decimal](18, 2) NOT NULL,
	[AgeTo] [decimal](18, 2) NOT NULL,
	[MinValue] [decimal](18, 2) NOT NULL,
	[MaxValue] [decimal](18, 2) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[HisParameterId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.HISParameterRangMaster] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HISSpecimenMaster]    Script Date: 23-05-2021 9.32.10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HISSpecimenMaster](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[CreatedOn] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.HISSpecimenMaster] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HISTestMaster]    Script Date: 23-05-2021 9.32.10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HISTestMaster](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[HISTestCode] [nvarchar](max) NULL,
	[HISTestCodeDescription] [nvarchar](max) NULL,
	[HISSpecimenCode] [nvarchar](max) NULL,
	[HISSpecimenName] [nvarchar](max) NULL,
	[CreatedOn] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.HISTestMaster] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MigrationHistory]    Script Date: 23-05-2021 9.32.10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MigrationHistory](
	[Migration_PK] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[Migration_PK] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PatientDetails]    Script Date: 23-05-2021 9.32.10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientDetails](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Alias] [nvarchar](30) NULL,
	[Name] [nvarchar](100) NULL,
	[Age] [decimal](18, 2) NOT NULL,
	[Gender] [nvarchar](10) NULL,
	[UHID] [nvarchar](20) NULL,
	[Phone] [nvarchar](15) NULL,
	[IsActive] [bit] NOT NULL,
	[DateOfBirth] [datetime] NOT NULL,
	[SiteId] [nvarchar](max) NULL,
	[CreatedBy] [nvarchar](80) NULL,
	[CreatedOn] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.PatientDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RefreshTokens]    Script Date: 23-05-2021 9.32.10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RefreshTokens](
	[Id] [nvarchar](128) NOT NULL,
	[Subject] [nvarchar](50) NOT NULL,
	[ClientId] [nvarchar](50) NOT NULL,
	[IssuedUtc] [datetime] NOT NULL,
	[ExpiresUtc] [datetime] NOT NULL,
	[ProtectedTicket] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.RefreshTokens] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoleModuleMappings]    Script Date: 23-05-2021 9.32.10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleModuleMappings](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[CanAdd] [bit] NOT NULL,
	[CanEdit] [bit] NOT NULL,
	[CanAuthorize] [bit] NOT NULL,
	[CanDelete] [bit] NOT NULL,
	[CanView] [bit] NOT NULL,
	[CanReject] [bit] NOT NULL,
	[ModuleId] [bigint] NULL,
	[RoleId] [nvarchar](128) NOT NULL,
	[ApplicationId] [int] NULL,
 CONSTRAINT [PK_dbo.RoleModuleMappings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TestMappingMaster]    Script Date: 23-05-2021 9.32.10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestMappingMaster](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[HISTestCode] [nvarchar](max) NULL,
	[HISTestCodeDescription] [nvarchar](max) NULL,
	[SpecimenCode] [nvarchar](max) NULL,
	[SpecimenName] [nvarchar](max) NULL,
	[LISTestCode] [nvarchar](max) NULL,
	[LISTestCodeDescription] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[CreatedOn] [datetime] NOT NULL,
	[EquipmentId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.TestMappingMaster] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TestParameters]    Script Date: 23-05-2021 9.32.10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestParameters](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[HISParamCode] [nvarchar](max) NULL,
	[HISParamName] [nvarchar](max) NULL,
	[HISTestCode] [nvarchar](max) NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[CreatedOn] [datetime] NOT NULL,
	[TestRequestDetailsId] [bigint] NOT NULL,
 CONSTRAINT [PK_dbo.TestParameters] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TestRequestDetails]    Script Date: 23-05-2021 9.32.10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestRequestDetails](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[SampleNo] [nvarchar](30) NULL,
	[HISTestCode] [nvarchar](20) NULL,
	[HISTestName] [nvarchar](100) NULL,
	[SampleCollectionDate] [datetime] NOT NULL,
	[SampleReceivedDate] [datetime] NOT NULL,
	[SpecimenCode] [nvarchar](20) NULL,
	[SpecimenName] [nvarchar](100) NULL,
	[CreatedBy] [nvarchar](80) NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ReportStatus] [int] NOT NULL,
	[PatientId] [bigint] NOT NULL,
	[IPNo] [nvarchar](20) NULL,
	[BedNo] [int] NOT NULL,
	[MRNo] [nvarchar](20) NULL,
	[HISRequestId] [nvarchar](20) NULL,
	[HISRequestNo] [nvarchar](20) NULL,
	[DepartmentId] [nvarchar](20) NULL,
	[Department] [nvarchar](80) NULL,
 CONSTRAINT [PK_dbo.TestRequestDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TestResultDetails]    Script Date: 23-05-2021 9.32.10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestResultDetails](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[LISParamCode] [nvarchar](max) NULL,
	[LISParamValue] [nvarchar](max) NULL,
	[LISParamUnit] [nvarchar](max) NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[CreatedOn] [datetime] NOT NULL,
	[TestResultId] [bigint] NOT NULL,
 CONSTRAINT [PK_dbo.TestResultDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TestResults]    Script Date: 23-05-2021 9.32.10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestResults](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[SampleNo] [nvarchar](max) NULL,
	[HISTestCode] [nvarchar](max) NULL,
	[LISTestCode] [nvarchar](max) NULL,
	[SpecimenCode] [nvarchar](max) NULL,
	[SpecimenName] [nvarchar](max) NULL,
	[ResultDate] [datetime] NOT NULL,
	[SampleCollectionDate] [datetime] NOT NULL,
	[SampleReceivedDate] [datetime] NOT NULL,
	[AuthorizationDate] [datetime] NULL,
	[AuthorizedBy] [nvarchar](max) NULL,
	[ReviewDate] [datetime] NULL,
	[ReviewedBy] [nvarchar](max) NULL,
	[TechnicianNote] [nvarchar](max) NULL,
	[DoctorNote] [nvarchar](max) NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[CreatedOn] [datetime] NOT NULL,
	[PatientId] [bigint] NOT NULL,
	[TestRequestId] [bigint] NOT NULL,
	[EquipmentId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.TestResults] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserApplicationMappings]    Script Date: 23-05-2021 9.32.10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserApplicationMappings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ClientApplicationId] [int] NULL,
	[UserId] [nvarchar](128) NULL,
 CONSTRAINT [PK_dbo.UserApplicationMappings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserModules]    Script Date: 23-05-2021 9.32.10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserModules](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](128) NOT NULL,
	[Url] [nvarchar](128) NOT NULL,
	[Order] [int] NOT NULL,
	[ApplicationId] [int] NOT NULL,
	[IsSyatem] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.UserModules] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TestRequestDetails] ADD  DEFAULT ((0)) FOR [BedNo]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[ControlResultDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ControlResultDetails_dbo.ControlResults_ControlResultId] FOREIGN KEY([ControlResultId])
REFERENCES [dbo].[ControlResults] ([Id])
GO
ALTER TABLE [dbo].[ControlResultDetails] CHECK CONSTRAINT [FK_dbo.ControlResultDetails_dbo.ControlResults_ControlResultId]
GO
ALTER TABLE [dbo].[ControlResults]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ControlResults_dbo.EquipmentMaster_EquipmentId] FOREIGN KEY([EquipmentId])
REFERENCES [dbo].[EquipmentMaster] ([Id])
GO
ALTER TABLE [dbo].[ControlResults] CHECK CONSTRAINT [FK_dbo.ControlResults_dbo.EquipmentMaster_EquipmentId]
GO
ALTER TABLE [dbo].[HISParameterMaster]  WITH CHECK ADD  CONSTRAINT [FK_dbo.HISParameterMaster_dbo.HISTestMaster_HisTestId] FOREIGN KEY([HisTestId])
REFERENCES [dbo].[HISTestMaster] ([Id])
GO
ALTER TABLE [dbo].[HISParameterMaster] CHECK CONSTRAINT [FK_dbo.HISParameterMaster_dbo.HISTestMaster_HisTestId]
GO
ALTER TABLE [dbo].[HISParameterRangMaster]  WITH CHECK ADD  CONSTRAINT [FK_dbo.HISParameterRangMaster_dbo.HISParameterMaster_HisParameterId] FOREIGN KEY([HisParameterId])
REFERENCES [dbo].[HISParameterMaster] ([Id])
GO
ALTER TABLE [dbo].[HISParameterRangMaster] CHECK CONSTRAINT [FK_dbo.HISParameterRangMaster_dbo.HISParameterMaster_HisParameterId]
GO
ALTER TABLE [dbo].[RoleModuleMappings]  WITH CHECK ADD  CONSTRAINT [FK_dbo.RoleModuleMappings_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RoleModuleMappings] CHECK CONSTRAINT [FK_dbo.RoleModuleMappings_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[RoleModuleMappings]  WITH CHECK ADD  CONSTRAINT [FK_dbo.RoleModuleMappings_dbo.ClientApplication_ApplicationId] FOREIGN KEY([ApplicationId])
REFERENCES [dbo].[ClientApplication] ([Id])
GO
ALTER TABLE [dbo].[RoleModuleMappings] CHECK CONSTRAINT [FK_dbo.RoleModuleMappings_dbo.ClientApplication_ApplicationId]
GO
ALTER TABLE [dbo].[RoleModuleMappings]  WITH CHECK ADD  CONSTRAINT [FK_dbo.RoleModuleMappings_dbo.UserModules_ModuleId] FOREIGN KEY([ModuleId])
REFERENCES [dbo].[UserModules] ([Id])
GO
ALTER TABLE [dbo].[RoleModuleMappings] CHECK CONSTRAINT [FK_dbo.RoleModuleMappings_dbo.UserModules_ModuleId]
GO
ALTER TABLE [dbo].[TestMappingMaster]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TestMappingMaster_dbo.EquipmentMaster_EquipmentId] FOREIGN KEY([EquipmentId])
REFERENCES [dbo].[EquipmentMaster] ([Id])
GO
ALTER TABLE [dbo].[TestMappingMaster] CHECK CONSTRAINT [FK_dbo.TestMappingMaster_dbo.EquipmentMaster_EquipmentId]
GO
ALTER TABLE [dbo].[TestParameters]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TestParameters_dbo.TestRequestDetails_TestRequestDetailsId] FOREIGN KEY([TestRequestDetailsId])
REFERENCES [dbo].[TestRequestDetails] ([Id])
GO
ALTER TABLE [dbo].[TestParameters] CHECK CONSTRAINT [FK_dbo.TestParameters_dbo.TestRequestDetails_TestRequestDetailsId]
GO
ALTER TABLE [dbo].[TestRequestDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TestRequestDetails_dbo.PatientDetails_PatientId] FOREIGN KEY([PatientId])
REFERENCES [dbo].[PatientDetails] ([Id])
GO
ALTER TABLE [dbo].[TestRequestDetails] CHECK CONSTRAINT [FK_dbo.TestRequestDetails_dbo.PatientDetails_PatientId]
GO
ALTER TABLE [dbo].[TestResultDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TestResultDetails_dbo.TestResults_TestResultId] FOREIGN KEY([TestResultId])
REFERENCES [dbo].[TestResults] ([Id])
GO
ALTER TABLE [dbo].[TestResultDetails] CHECK CONSTRAINT [FK_dbo.TestResultDetails_dbo.TestResults_TestResultId]
GO
ALTER TABLE [dbo].[TestResults]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TestResults_dbo.EquipmentMaster_EquipmentId] FOREIGN KEY([EquipmentId])
REFERENCES [dbo].[EquipmentMaster] ([Id])
GO
ALTER TABLE [dbo].[TestResults] CHECK CONSTRAINT [FK_dbo.TestResults_dbo.EquipmentMaster_EquipmentId]
GO
ALTER TABLE [dbo].[TestResults]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TestResults_dbo.PatientDetails_PatientId] FOREIGN KEY([PatientId])
REFERENCES [dbo].[PatientDetails] ([Id])
GO
ALTER TABLE [dbo].[TestResults] CHECK CONSTRAINT [FK_dbo.TestResults_dbo.PatientDetails_PatientId]
GO
ALTER TABLE [dbo].[TestResults]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TestResults_dbo.TestRequestDetails_TestRequestId] FOREIGN KEY([TestRequestId])
REFERENCES [dbo].[TestRequestDetails] ([Id])
GO
ALTER TABLE [dbo].[TestResults] CHECK CONSTRAINT [FK_dbo.TestResults_dbo.TestRequestDetails_TestRequestId]
GO
ALTER TABLE [dbo].[UserApplicationMappings]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserApplicationMappings_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[UserApplicationMappings] CHECK CONSTRAINT [FK_dbo.UserApplicationMappings_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[UserApplicationMappings]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserApplicationMappings_dbo.ClientApplication_ClientApplicationId] FOREIGN KEY([ClientApplicationId])
REFERENCES [dbo].[ClientApplication] ([Id])
GO
ALTER TABLE [dbo].[UserApplicationMappings] CHECK CONSTRAINT [FK_dbo.UserApplicationMappings_dbo.ClientApplication_ClientApplicationId]
GO
ALTER TABLE [dbo].[UserModules]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserModules_dbo.ClientApplication_ApplicationId] FOREIGN KEY([ApplicationId])
REFERENCES [dbo].[ClientApplication] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserModules] CHECK CONSTRAINT [FK_dbo.UserModules_dbo.ClientApplication_ApplicationId]
GO
